.footer__naveg {
    border-top: 5px solid rgb(217, 148, 59, 0.5);
}

.footer__naveg__link {
    font-family: var(--font-main);
    font-weight: var(--weight-main);
    font-size: 1.3rem;
    color: var(--font-color);
    text-decoration: none;
}

.pd1 {
    padding-left: 10rem;
}

.pd1ptII {
    padding-left: 1rem;
}

.pd2 {
    padding-left: 5rem;
}

a:hover {
    color: #df8612;
}